<template>
    <div class="overflow-hidden overflow-x-auto min-w-full align-middle sm:rounded-md flex">
        <div class="w-1/4 border mx-2 p-2" v-for="item in films" :key="item.id">
            <img height="200" :src='"/storage/"+item.poster' >
            <span class="w-1/2">{{item.restriction}}</span><span class="w-1/2">{{item.length}}</span>
            <h6 class="mt-3">{{item.name}}</h6>
            <p class="mt-3">{{item.byline}}</p>
            
            <router-link :to="{ name: 'film.entry', params: { id: item.id } }"
               class="mr-2 inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150">
                 Book Now
            </router-link>
           
        </div>
    </div>
</template>

<script>
import useFilms from "../composables/films";

import { onMounted } from "vue";
export default {
    setup() {
        const {films,getFilms} = useFilms()

        onMounted(getFilms)
        console.log(films)
        const deleteFilm = async (id) => {
            if (!window.confirm('Are you sure?')) {
                return
            }
            await getFilms();
        }
        return {
            films
        }
    }
}
</script>
