<template>
   <div v-if="errors">
  <div class="bg-red-500 text-white rounded font-bold mb-4 shadow-lg py-2 px-4 pr-0">
    <p class="text-sm">
      {{ errors }}
    </p>
  </div>
</div>

    <form v-if="!booking" class="space-y-6" @submit.prevent="getBooking">
        <div class="space-y-4 rounded-md shadow-sm">
            <div>
                <label for="reference" class="block text-sm font-medium text-gray-700">Reference</label>
                <div class="mt-1">
                    <input type="text" name="reference" id="reference"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           v-model="form.reference">
                </div>
            </div>
        </div>

        <button type="submit"
                class="inline-flex items-center px-4 py-2 text-xs font-semibold tracking-widest text-white uppercase bg-gray-800 rounded-md border border-transparent ring-gray-300 transition duration-150 ease-in-out hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring disabled:opacity-25">
            Find
        </button>
    </form>

    <div v-if="booking" class="space-y-6">
        <h6>Your Booking Details</h6>
        <div class="flex">
            <div class="w-1/3 flex ">
                <p>Date and Time:</p>
                <p class="">{{booking.booking_date}} {{booking.time.start_time}} - {{booking.time.end_time}}</p>
            </div>
            <div class="w-1/3 flex ">
                <p>Theatre:</p>
                <p class="">{{booking.theatre.name}}</p>
            </div>
            <div class="w-1/3 flex ">
                <p>Seats:</p>
                <p class="">{{booking.seats}}</p>
            </div>
        </div>
        <div class="flex">
            <div class="w-1/3">
                <img v-if="booking.film.poster" width="100" :src='"/storage/"+ booking.film.poster' >
            </div>
            <div class="w-2/3">
                <p class="">{{booking.film.byline}}</p>
                <div class="flex">
                    <span class="w-1/3">{{booking.film.restriction}}</span>
                    <span class="w-1/3">{{booking.film.length}}</span>
                    <span class="w-1/3">R {{booking.film.price}}</span>
                </div>
            </div>
        </div>
        <button @click="deleteBooking(booking.id)"
            class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150">
    Delete</button>
    </div>
</template>

<script>
import {ref} from "vue";
import {reactive } from "vue";
import axios from 'axios';
import { useRouter } from 'vue-router';

export default {
    setup() {
        const form = reactive({
            'reference': '',
        })
        const errors = ref('')
        let booking = ref('');
        const router = useRouter()

        const getBooking = async () => {

            errors.value = ''
            try {
                let response = await axios.get('/manage/booking/' + form.reference)
                 booking.value = response.data.data;
            } catch (e) {
                console.log(e.response.status)

                if (e.response.status === 404) {
                    errors.value ="No booking with that reference";
                }
            }
        }

        const deleteBooking= async (id) => {

            errors.value = ''
            try {
                await axios.get('/cancel/booking/' + id)
                await router.push({name: 'dashboard'})

            } catch (e) {
                if (e.response.status === 500) {
                    errors.value ="Cannot cancel your booking less than 1hr before the start time";
                }
            }
        }
        return {
            form,
            errors,
            getBooking,
            deleteBooking,
            booking
        }
    }
}
</script>
