<template>
    <div class="flex">
        <div class="w-1/3">
             <img v-if="film.poster" width="100" :src='"/storage/"+ film.poster' >
        </div>
        <div class="w-2/3">
            <p class="">{{film.byline}}</p>
            <div class="flex">
                <span class="w-1/3">{{film.restriction}}</span>
                <span class="w-1/3">{{film.length}}</span>
                <span class="w-1/3">R {{film.price}}</span>
            </div>
        </div>
    </div>

    <hr class="my-2">

    <div class="border p-2" v-if='user'>
        <h6>Make a booking</h6>

        <div v-if="errors">
            <div v-for="(v, k) in errors" :key="k" class="bg-red-500 text-white rounded font-bold mb-4 shadow-lg py-2 px-4 pr-0">
                <p v-for="error in v" :key="error" class="text-sm">
                {{ error }}
                </p>
            </div>
        </div>
        <form class="space-y-6" id="bookingCreate" @submit.prevent="saveBooking" enctype='multipart/form-data'>
            <div class="">
                <label for="booking_date" class="block text-sm font-medium text-gray-700">Booking Date</label>
                <input type="date" name="booking_date" @change="onChangeDate($event)" v-model="form.booking_date">
            </div>
            <div class="space-y-2" id="theatreInputDiv" style="display:none;">
                <div class="">
                    <label for="theatre_id" class="block text-sm font-medium text-gray-700">Theatre</label>
                    <select name="theatre_id" @change="onChangeTheatre($event)" v-model="form.theatre_id">
                        <option value="">Please select a theatre</option>
                        <option v-if="theatres" v-for="(item, index) in theatres.available" :key="item.id" :data-id='index' :value="item.id" >{{item.name}}</option>
                    </select>

                </div>
            </div>

                <div id="timeInputDiv" style="display:none;">
                    <label for="time_id" class="block text-sm font-medium text-gray-700">Times</label>
                    <select name="time_id" id="timesSelect" @change="onChangeTime($event)" v-model="form.time_id">
                        <option value="">Please select a time</option>
                    </select>

                </div>
                <div id="seatsInputDiv" style="display:none;">
                    <label for="seats" class="block text-sm font-medium text-gray-700">Seats * please type a number of seats you would like to book there are <span id="remainingSeats"></span> seats remaining</label>
                    <div class="mt-1">
                        <input type="number" name="seats" id="seats"
                            class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                            v-model="form.seats">
                    </div>
                </div>
            <button type="submit"
                    class="inline-flex items-center px-4 py-2 text-xs font-semibold tracking-widest text-white uppercase bg-gray-800 rounded-md border border-transparent ring-gray-300 transition duration-150 ease-in-out hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring disabled:opacity-25">
                Book
            </button>
        </form>
    </div>
    <div class="" v-if='!user'>
        <p class="">Please login or register to make a booking</p>
    </div>
</template>
<script>
import useFilms from "../../composables/films";
import {onMounted,ref} from "vue";
import { defineComponent,reactive } from "vue";
import Multiselect from '@vueform/multiselect'
import axios from 'axios';

export default defineComponent({
    props: {
        id: {
            required: true,
            type: String
        }
    },

    setup(props) {

        const form = reactive({
            'time_id': '',
            'theatre_id': '',
            'seats': '',
            'film_id': props.id,
            'user_id': localStorage.getItem("loggedIn"),
            'booking_date':''
        })

        const theatres = ref('')
        const onChangeDate  = async (event) => {
            let response = await axios.get('/film/'+props.id+'/times/' + event.target.value)
            theatres.value = response.data.data;
            console.log( document.getElementById('theatreInputDiv'));
            document.getElementById('theatreInputDiv').style.display= 'block';
        }
        const onChangeTheatre  = async (event) => {
            const theTarget = event.target.options[event.target.options.selectedIndex].dataset;
            const select = document.getElementById('timesSelect');
            let times = film.value.available[theTarget.id].times;
            for(let i = 0; i < times.length; i++){
                var opt = document.createElement('option');
                opt.value = times[i].id;
                opt.dataset.seats = times[i].remaining_seats;
                opt.innerHTML =  times[i].start_time +" - "+times[i].end_time;
                select.appendChild(opt);
            }
            document.getElementById('timeInputDiv').style.display= 'block';

        }
        const onChangeTime  = async (event) => {
            const theTarget = event.target.options[event.target.options.selectedIndex].dataset;
            document.getElementById('remainingSeats').innerHTML = theTarget.seats;
            document.getElementById('seatsInputDiv').style.display= 'block';
        }
            const errors = ref('')

        const saveBooking = async () => {
            
            errors.value = ''
            try {
                let response = await axios.post('/api/bookings', {...form})
                console.log(response.data.data);
                alert("Thank you for booking, you booking reference is "+response.data.data.reference);
            } catch (e) {

                if (e.response.status === 422) {
                    errors.value = e.response.data.errors
                }
            }
        }
        const user  = localStorage.getItem("loggedIn");
        const { film, getFilm } = useFilms()
        onMounted(getFilm(props.id))

        return {
            film,
            user,
            saveBooking,
            onChangeTheatre,
            onChangeTime,
            onChangeDate,
            form,
            errors,
            theatres
        }
    },
    components: {
        Multiselect
    }
})
</script>