<template>
    <div v-if="errors">
        <div v-for="(v, k) in errors" :key="k" class="bg-red-500 text-white rounded font-bold mb-4 shadow-lg py-2 px-4 pr-0">
                <p v-for="error in v" :key="error" class="text-sm">
                {{ error }}
                </p>
        </div>
    </div>

    <form class="space-y-6" id="filmCreate" @submit.prevent="saveFilm" enctype='multipart/form-data'>
        <div class="space-y-4 rounded-md shadow-sm">
            <div>
                <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                <div class="mt-1">
                    <input type="text" name="name" id="name"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           v-model="form.name">
                </div>
            </div>
            <div>
                <label for="poster" class="block text-sm font-medium text-gray-700">Poster</label>
                <div class="mt-1">
                    <input type="file" name="poster" id="poster"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                            @change="onFileChange">
                </div>
            </div>
                        <div>
                <label for="byline" class="block text-sm font-medium text-gray-700">Theatres</label>
                <div class="mt-1">
                <Multiselect
                    v-model="form.theatres"
                    :options="theatres.map(elem => (
                    {
                        value: elem.id,
                        label: elem.name
                    }
                    ))"
                    mode="multiple"
                    placeholder="Select your theatres"
                    />
                </div>
            </div>

            <div>
                <label for="byline" class="block text-sm font-medium text-gray-700">Times</label>
                <div class="mt-1">
                <Multiselect
                    v-model="form.times"
                    :options="times.map(elem => (
                    {
                        value: elem.id,
                        label: elem.start_time + ' - '+  elem.end_time
                    }
                    ))"
                    mode="multiple"
                    placeholder="Select your times"
                    />
                </div>
            </div>
            <div>
                <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
                <div class="mt-1">
                    <input type="text" name="price" id="price"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           v-model="form.price">
                </div>
            </div>
            <div>
                <label for="restriction" class="block text-sm font-medium text-gray-700">Restriction</label>
                <div class="mt-1">
                    <input type="text" name="restriction" id="restriction"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           v-model="form.restriction">
                </div>
            </div>
            <div>
                <label for="length" class="block text-sm font-medium text-gray-700">Length</label>
                <div class="mt-1">
                    <input type="text" name="length" id="length"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           v-model="form.length">
                </div>
            </div>
            <div>
                <label for="byline" class="block text-sm font-medium text-gray-700">Byline</label>
                <div class="mt-1">
                    <input type="text" name="byline" id="byline"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           v-model="form.byline">
                </div>
            </div>


        </div>

        <button type="submit"
                class="inline-flex items-center px-4 py-2 text-xs font-semibold tracking-widest text-white uppercase bg-gray-800 rounded-md border border-transparent ring-gray-300 transition duration-150 ease-in-out hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring disabled:opacity-25">
            Create
        </button>
    </form>
</template>

<script>
import { defineComponent,reactive } from "vue";
import useFilms from "../../composables/films";
import { onMounted } from "vue";
import Multiselect from '@vueform/multiselect'
import useTheatres from "../../composables/theatres";
import useTimes from "../../composables/times";


export default defineComponent({
    setup() {
        const form = reactive({
            'name': '',
            'poster': '',
            'price': '',
            'restriction': '',
            'length': '',
            'byline': '',
            'theatres': [],
            'times': [],
        })
        const {theatres,getTheatres} = useTheatres()
        const {times,getTimes} = useTimes()

        onMounted(getTheatres)
        onMounted(getTimes)
        const onFileChange = async (event) => {
            form.poster = event.target.files[0]
        }
        const { errors, storeFilm } = useFilms()

        const saveFilm = async () => {
            
            var formFields = document.getElementById('filmCreate');
            let data = new FormData(formFields);
            let formData = new FormData();

            for (var [key, value] of data) {
                console.log(key)
                if(key == 'poster'){
                    if(form.poster){
                        formData.append(key, form.poster, form.poster.name);
                    }
                } else{
                    formData.append(key,value)
                }
            }

            if(form.theatres){
                 formData.append('theatres',form.theatres)
            }

            if(form.times){
                 formData.append('times',form.times)
            }


            await storeFilm(formData);
        }

        return {
            form,
            errors,
            saveFilm,
            onFileChange,
            poster: null,
            theatres,
            times
        }
    },
    components: {
        Multiselect
    }
})
</script>
<style src="@vueform/multiselect/themes/default.css"></style>

