<template>
    <div v-if="errors">
        <div v-for="(v, k) in errors" :key="k" class="bg-red-500 text-white rounded font-bold mb-4 shadow-lg py-2 px-4 pr-0">
                <p v-for="error in v" :key="error" class="text-sm">
                {{ error }}
                </p>
        </div>
    </div>

    <form class="space-y-6" @submit.prevent="saveTheatre">
        <div class="space-y-4 rounded-md shadow-sm">
            <div>
                <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                <div class="mt-1">
                    <input type="text" name="name" id="name"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           v-model="form.name">
                </div>
            </div>

            <div>
                <label for="cinema_id" class="block text-sm font-medium text-gray-700">Cinema</label>
                <div class="mt-1">
                    <select class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" name="cinema_id" id="cinema_id" v-model="form.cinema_id" >
                        <option value="">Select a Cinema</option>
                        <option v-for="item in cinemas" :key="item.id" :value="item.id" >{{item.name}}</option>
                    </select>
                </div>
            </div>

            <div>
                <label for="seats" class="block text-sm font-medium text-gray-700">Seats</label>
                <div class="mt-1">
                        <input type="number" name="seats" id="seats"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           v-model="form.seats">
                </div>
            </div>
        </div>

        <button type="submit"
                class="inline-flex items-center px-4 py-2 text-xs font-semibold tracking-widest text-white uppercase bg-gray-800 rounded-md border border-transparent ring-gray-300 transition duration-150 ease-in-out hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring disabled:opacity-25">
            Create
        </button>
    </form>
</template>

<script>
import { reactive } from "vue";
import useTheatres from "../../composables/theatres";
import useCinemas from "../../composables/cinemas";
import { onMounted } from "vue";

export default {
    setup() {
        const form = reactive({
            'name': '',
            'cinema_id':'',
            'seats':''
        })
        const {cinemas,getCinemas} = useCinemas()
        onMounted(getCinemas)

        const { errors, storeTheatre } = useTheatres()

        const saveTheatre = async () => {
            await storeTheatre({...form});
        }

        return {
            cinemas,
            form,
            errors,
            saveTheatre
        }
    }
}
</script>
